@font-face {
  font-family: hauora-medium;
  src: url(../../../../public/Hauora-Medium.ttf);
}

@font-face {
  font-family: hauora-semibold;
  src: url(../../../../public/Hauora-SemiBold.ttf);
}

body {
  overflow-x: hidden;
}

.value-section-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.cards {
  font-family: hauora-medium;
  margin: 50px 4rem;
  overflow: hidden;
}

.value-card {
  opacity: 0;
  transform: translateY(40px);
  transition: transform 0.6s ease, opacity 0.6s ease, box-shadow 0.3s ease;
  border: none;
 width:100%;
  border-radius: 20px;
  background-color: #fff;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.value-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.value-card:hover {
  transform: translateY(-8px) scale(1.02);

}

.value-card:hover .value-icon {
  transform: rotate(5deg);
  transition: transform 0.3s ease;
}

.value-card-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.value-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.value-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.value-icon {
  width: 30px;
  height: 30px;
}

.value-body {
  padding: 1.25rem;
  flex-grow: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.value-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: hauora-semibold;
}

.value-text {
  font-size: 1rem;
  color: #444;
}

/* Responsive tweaks */
@media (max-width: 875px) {
  .cards {
    margin: 40px 2rem;
  }

}

@media (max-width: 575px) {
  .value-card {
    width: 100%;
  }

  .value-title {
    font-size: 1.2rem;
  }

  .value-text {
    font-size: 0.95rem;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
   .cards {
    margin: 40px 1rem;
  }
}
