@font-face {
  font-family: hauora-medium;
  src: url(../../../../../public/Hauora-Medium.ttf);
}

.font {
  font-family: hauora-medium !important;
}

.who-we-are-section {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
   font-family: hauora-medium !important;
}

.whoHead{
   font-size: calc(1.5rem + 1.5vw);
}

.who-description {
  color: black;
  font-size: 1rem;
  line-height: 1.8;
}

.who-img {
  width: 100%;
  height: 70vh;
  
}

/* Tablet View */
@media (max-width: 991px) {
  .who-we-are-section {
    margin: 40px 1rem;
  }

  .who-description {
    font-size: 0.95rem;
  }

  .who-img {
    max-height: 50vh;
  }
}

/* Mobile View */
@media (max-width: 575px) {
  .who-img {
    max-height: 40vh;
  }
  .who-we-are-section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
   }
}
