@font-face {
  font-family: hauora-medium;
  src: url(../../../../public/Hauora-Medium.ttf);
}

.font {
  font-family: hauora-medium !important;
}

.teamhead {
  font-family: hauora-medium !important;
  font-size: calc(1.5rem + 1.5vw);
}

.team-section {
  margin-block: 50px;
  margin-inline: 3rem;
}
.red-bg{
  color: #b22335;
}
.team-card {
  background-color: #f8f9fa;
  border-radius: 16px;
  padding: 1.5rem;
  transition: all 0.4s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  margin: 0 !important; /* remove spacing from margin */
  height: 100%;
}

.team-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 16px 30px #b22335;
}

.team-member-image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.team-member-image:hover {
  transform: scale(1.07);
}

.team-info p {
  font-size: 0.85rem;
  color: #333;
  margin-bottom: 3px;
}

/* Social icon style */
.social-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  color: #b22335;
  border: 1px solid #b22335;
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .team-section {
    margin-inline: 1rem;
  }

  .team-member-image {
    width: 140px;
    height: 140px;
  }
}
