@font-face {
    font-family: hauora-medium;
    src: url(../../../../public/Hauora-Medium.ttf);
}

/* Background Video Container */
.color {
    color: #b22335;
}

.font {
    font-family: hauora-medium !important;
}

.background-video-container {
    position: relative;
    height: 120vh;
    /* Increased height */
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10%;
    font-family: hauora-medium !important;
}

/* Background Video */
.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -2;
}

/* Text Content Overlay */
.content-overlay {
    color: #fff;
    z-index: 3;
    width: 80%;
    margin: 15% auto 0 auto;
    font-family: hauora-medium !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
}

.main-heading {
    font-size: calc(1.5rem + 1.5vw);
    max-width: 1100px;
    color: white;
    text-align: center;
    width: 100%;
    font-family: hauora-medium !important;
}

.content-overlay .subhead {
    color: #b22335;
    font-size: 25px;
    text-align: center;
    width: 100%;
    font-family: hauora-medium !important;
}

.main-text {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 1vh 0px;
    text-align: center;
    width: 100%;
    font-family: hauora-medium !important;
}

/* Buttons */
.btn-div {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 5%;
    align-items: center;
    margin-top: 1rem;
}


.phonebtn {
    background-color: #b22335 !important;
    border: solid 1px #b22335 !important;
    border-radius: 50px;
    box-shadow: 0 6px 15px rgba(7, 7, 7, 0.3);
    transition: all 0.3s ease-in-out;
    color: white !important;
    width: 230px !important;
    display: flex;
    justify-content: center;
    font-family: hauora-medium !important;
}

.phonebtn:hover {
    background-color: #3d3b6d !important;
    box-shadow: 0 8px 20px #3d3b6d !important;
    border-color: #3D3B6D !important;
    transform: scale(1.05);
}


/* Floating Services Boxes */
.floating-services-boxes {
    position: absolute;
    top: 104vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
    z-index: 2;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

/* Individual Service Box */
.service-box {
    background-color: #b22335;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
    font-family: hauora-medium;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 0.3s ease-in-out;
    font-family: hauora-medium !important;
   box-shadow: #3d3b6d 0px 25px 50px -12px;
}

.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
}

.justify {
    text-align: start;
    font-family: hauora-medium !important;
    font-size: 16px;
}
.service-box .ser-head {
        font-size: 17px !important;
        font-weight: bolder !important;
    }

/* modalpopup */

    .modalpopup{
     z-index: 1100;
    }
    .popupTwo{
         z-index: 1100;
    }

/* Responsive */
@media screen and (max-width: 1050px) {
    .background-video-container {
        margin-bottom: 10%;
 }

.floating-services-boxes {
    top: 90vh;
    }

}

@media screen and (max-width: 768px) {
    .background-video-container {
        margin-bottom: 25%;
        height: 135vh;
    }

    .content-overlay {
        width: 90%;
        align-items: center !important;
        text-align: center !important;
    }

    .floating-services-boxes {
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        width: 90%;
    }

     .main-heading {
         font-size: calc(1.3rem + 1.5vw);
    }

  
    .btn-div {
        flex-direction: column !important;
        align-items: center;
        gap: 10px !important;
    }
}
@media screen and (max-width: 500px) {
     .main-heading {
        font-size: 23px;
    }

    .content-overlay {
   
    margin: 25% auto 0 auto;
    
}
     .background-video-container {
        margin-bottom: 114%;
        height: 100vh;
    }
     .floating-services-boxes {
        top: 75vh;
    }
    .justify {
    text-align: start !important;
    font-family: hauora-medium !important;
}

   
    .service-box .ser-head {
        font-size: 15px !important;
    }

}

@media screen and (max-width: 380px) {
    .background-video-container {
        margin-bottom: 148%;
       
    }

    .content-overlay {
        width: 90%;
        align-items: center !important;
        text-align: center !important;
    }

    .floating-services-boxes {
        flex-direction: column;
        align-items: center;
    }

    .service-box {
        width: 90%;
    }

    .main-heading {
        max-width: 300px;
    }

  

    .main-text {
        font-size: 15px;
    }

    .btn-div {
        flex-direction: column !important;
        align-items: center;
    }

    .floating-services-boxes {

        top: 75vh;

    }

    .service-box .ser-head {
        font-size: 15px !important;
    }
}

@media screen and (max-width: 365px) { 
     .background-video-container {
        margin-bottom: 150%;
       }
    .floating-services-boxes {
    top: 75vh;
   }
}

