.quote-form-formik {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.submit-btn-custom {
    padding: 0.6rem 2rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    width: 70%;
}



.form-control,
.form-control:focus {
    border-radius: 6px;
    box-shadow: none;
    border-color: #ced4da;
}
.main{
  
    background-color: #F5F5F5;
     box-shadow:
    inset 0 -3em 3em #f7f7f7,
    0 0 0 2px white,
    0.3em 0.3em 1em #b22335;
}