.text-justified {
    text-align: justify;
  }
  .font-12 {
    font-size: 12px;
  }
  
  /* custom underline */
  .custom-underline .dot {
    width: 12px;
    height: 12px;
    background-color: #ff3b3b;
  }
  .custom-underline .line {
    width: 40px;
    height: 2px;
    background-color: white;
  }
  
  .link-hover:hover {
    color: #b22335 !important;
  }
  .social-icon:hover {
    background-color: #b22335 !important;
    transition: background-color 0.3s ease;
  }
  
  .secondColor {
    background-color: #131010;
   
   
  }

  
  .custom-hover,
  .custom-hover p,
  .custom-hover a {
    color: white !important;
    transition: color 0.3s ease;
  }
  .custom-hover:hover,
  .custom-hover:hover p,
  .custom-hover:hover a {
    color: #b22335 !important;
  }
  @media (max-width: 1200.98px){
   
  
  }
  /* Responsive text align fallback */
  @media (max-width: 767.98px) {
    .text-md-left {
      text-align: left !important;
    }
    .text-md-center {
      text-align: center !important;
    }
    .firstfootertext{
        max-width: 300px;
    }
   
  }
  @media (max-width: 768px) { /* ট্যাব ডিভাইস */

}

@media (max-width: 480px) { /* মোবাইল ডিভাইস */
  
}
 